#mapid{
    
    height: 400px;
    width: 80%; 
    zoom: 150%;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 100;
    margin-top: 10;
    background:url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.navegador{
    width: 1000px;
    margin: 30px auto;
    background: #636966;
}

.navegador ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li a:hover{
    color: #13d634;
    transition: all .3s;
}

/* Submenu*/

.submenu{
    position: absolute;
    background: #585757;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: rgb(250, 255, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 2;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    background-size: serif;
    background-position: center;
    color: rgb(14, 32, 7);
    font-size: 50px;
    font-weight: 500;
    font-family: serif;
}

.titulo2{
    font-size: 30px;
    font-family: serif;
    margin-bottom: 50px;
    color: #227722;
}

p{
    color: #000000;
    font-size: 50px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parrafo{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    color:#000000;
    font-weight: 700;
}

.subtitulo{
    margin: 0;
    color: rgb(221, 32, 32);
    font-size: 70px;
    font-weight: 700;
    font-family: serif;
}

.imagen{
    width: 300px;
    height: 300px;
    border: 5px solid rgb(224, 64, 64);
}

div#general{
    margin: auto;
    text-align: justify;
    background-position: center;
}



h6{
    margin: 0;
    text-align: center;
    font-family: cursive;
    color: darkslategrey;
    font-size: 40px;
    font-weight: 200;
    

}
